.sidebar {
    border-color: black;
    border-style: solid;
    margin-right: 15px;

}

.mainContent {
    border-color: black;
    border-style: solid;

}

body {
    margin: 20px;
}

.futureWeather {
    border-style: solid;
    border-color: black;
}

.col-9 {
    padding: 5px;
}

