#city-search {
  background-color: rgb(221, 130, 130);
}

#weather-dashboard {
  background-color: lightslategray;
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2px;
  border-radius: 200px;
}
#city-search,
#weather-dashboard {
  border-style: ridge;
  border-color: orange;
}
#weather-form {
  padding-left: 25%;
}
